@media (max-width: 768px) {
  .nav-links {
    position:absolute;
    top:65px;
    right:0 ;
    background: #2222228c;
    flex-direction: column;
    width: 100%;
    display: none;
    gap: 120px;
  }
  .nav-links li {
   padding: 5% 15%;
   box-sizing: border-box;
  }
  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block; 
  }
  h1{
    display: none;
  }
}
html{
  max-width:1920px;
  max-height: 1080px;
  font-family: "poppins";
}

body{ 
    height:auto ;
    margin: 0;
    padding: 0;
    background:url(sunbeds.jpg);
     background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    
}
#container{
    width: 100%;
    
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin: 0;
    padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #50504557;
  padding: 15px 20px;
}

.logo {
  color: #505045;
  font-size: 1.5rem;
}
.logo img{
     width: 55px;
    height: 45px;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 70px;
}

.nav-links a {
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins";
  
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  color:#161613;
  cursor: pointer;
}