
body{ 
    margin: 0;
    padding: 0;
     max-width:1920px;
    height: 1080px;
    
}
#container{
   background: url(img1.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #50504557;
  padding: 15px 20px;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
}
.logo img{
    height: 45px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 120px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins";
  
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #222;
    flex-direction: column;
    width: 200px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
h1{
    font-family: "Poppins";
    color:#f9f9e7;
    text-transform: uppercase;
    text-shadow: #777777 2px 2px;
    font-size: 45px;
    margin: 0;
    
}
#main-content {
    position: relative;
    left: 15%;
    top:120px;
}