
body{ 
    margin: 0;
    padding: 0;
     max-width:1920px;
    height: 1080px;
    
}
#container{
   background: url(img1.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
h1{
    font-family: "Poppins";
    margin: 0;
}.navbar{
    background-color: #52525254;
}
.navbar-nav .nav-item a {
color: #f9f9e7;
}
.dropdown-menu{
    background-color: #52525254;
}
.dropdown-item:hover{
    background-color:#f9f9e721;
}
.navbar-brand img{
    height: 40px;
    margin-left: 15px;
}
#main-content{
    width: 15%;
    text-align: center;
    position: relative;
    left: 18%;
    top: 200px;

}
#main-content h1{
    color: #f9f9e7;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow:#505045 2px 2px;
}